<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs")%>
  <body class="body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2" id="sideBar">
          <%- include("../partials/sidebar.ejs")%>
        </div>

        <div class="col-10" style="height: 100vh; overflow-y: auto">
          <div class="row" style="margin-bottom: 10px">
            <%- include("../partials/navbarhomepage.ejs")%>
          </div>
          <div class="row">
            <!-- Bagian tengah  -->
            
            <!-- Bagian Kanan  -->
            <div class="col-4" id="bagianKanan">
              <div class="col">
                <p class="text" id="judulBagian">To Do List kamu hari ini!</p>
              </div>

              <div class="row" id="daftarKegiatan">
                <div class="col">
                  <% if (task != null) { task.forEach(element => { if
                  (moment(element.dateList).format('DD/MM/YYYY') == tanggal) {
                  if (element.userId == idUser) { %>
                  <div class="row <%= element.warnaList %>" id="jenisKegiatan">
                    <p id="textKegiatan"><%= element.namaList %></p>
                  </div>
                  <% } } }) } %>
                </div>
                <div class="col-1">
                  <!-- buat slider -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section>
      <!-- Optional JavaScript; choose one of the two! -->

      <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
      <script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"
      ></script>

      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    --></section>
  </body>
</html>
