.container-fluid {
  padding: 0px 0px 0px 0px;
}

.row {
  margin: 0px 0px 0px 0px;
}

.col-10 {
  margin-top: 20px;
  padding: 0px 50px 0px 40px;
}

#sideBar {
  padding: 0px 0px 0px 0px;
}

#firstRow {
  margin: 22px 0px 0px 0px;
}

.body {
  background-color: #f3f3f3;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #000000;
}

/* Bagian tengah */
/* Bagian Motivasi */
#bagianTengah {
  margin-top: 22px;
  margin: 22px 0px 0px 0px;
  padding: 0px 0px;
}

.boxcolor {
  width: 669px;
  /* height: 200px; */
  background: #ffffff;
  border-radius: 20px;
}

#quote {
  padding: 39px 0px 0px 25px;
}

#vektorSatu {
  padding: 22px 0px 0px 18px;
}

/* Paling Banyak Dicari */

#judulBagian {
  font-size: 18px;
}

#btnKegiatan {
  width: 200px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 18px 16px 18px 12px;

  background-color: #ffffff;
  border-radius: 10px;
}

#txtPilihan {
  margin-bottom: 0px;
}

/* Progres saya */
.bagianProgres {
  width: 669px;
  background: #ffffff;
  border-radius: 20px;
  padding: 25px 0px 15px 0px;
  margin-bottom: 30px;
}

#lihatSemua {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  padding: 1px 12px 1px 12px;
  color: #ffffff;
  /* identical to box height, or 167% */

  background: #fa9e57;
  border-radius: 30px;
}

#judulProgres {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  display: flex;
  align-items: center;

  color: #000000;
}

#descProgres {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* or 117% */

  display: flex;
  align-items: center;
  padding-top: 10px;

  /* Text Color/Subtle */

  color: #767676;
}

.progress {
  width: 240px;
  height: 20px;
  background: #f3f3f3;
  border-radius: 20px;
}

.progress-bar {
  
  background: #fa9e57;
  border-radius: 20px;
}

/* Bagian kanan */
#bagianKanan {
  top: 0px;
  right: 0px;
  width: 419.67px;
  /* position: fixed; */
  padding: 0px 0px 0px 10px;
}

#tanggal {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #3b3335;
  padding-top: 8px;
}

#btnArrow {
  width: 28px;
  height: 28px;
  border-radius: 24px;
  padding: 0px 0px 0px 0px;
  background: #fa9e57;
}

#daftarKegiatan {
  width: 364px;
  height: 261px;
  background: #ffffff;
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px 0px 0px 20px;
}

#jenisKegiatan {
  border-radius: 5px;
  margin-bottom: 18px;
}

#textKegiatan {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  padding: 15px 0px 15px 25px;
  margin-bottom: 0px;
}
/* warna custom */
/* biru*/
.blue {
  background-color: #b7eee8;
}
.lingkaran-blue {
  border: 4px solid #b7eee8;
}

/* cream */
.cream {
  background-color: #ffbfa1;
}
.lingkaran-cream {
  border: 4px solid #ffbfa1;
}

/* purple */
.purple {
  background-color: #fcddec;
}
.lingkaran-purple {
  border: 4px solid #fcddec;
}

/* pink */
.pink {
  background-color: #f4b5d4;
}
.lingkaran-pink {
  border: 4px solid #f4b5d4;
}
