html,body{
    height: 100%;
    background-color: #F3F3F3;
}

.container-fluid{
    width: 100%;
    padding: 0px 0px 0px 0px;
    height: 100%;
}

.col-10{
    margin-top: 20px; 
    padding: 0px 50px 0px 40px !important;
    
}

.text{
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

#lihatSemua{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;   
    color: #FFFFFF;
    
    padding: 9px 16px;
    margin-left: 50px;
    background: #FA9E57 !important;
    border-radius: 30px;
}