html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;
}

.container-fluid{
    height: 100%;
    padding: 0px 0px;
  
}

#navbar{ 
    position:fixed !important;
	top: 0;
}


p.textHasil{
    padding-left: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}


#durasi{
    margin-top: 10px;
    margin-left: 12px;
    background: #3A3735; height: 24.5px;
    border-radius: 20px;
}

#textDurasi{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 0px;
    padding-top: 2px;
}

h5{
    
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    
}

.boxcolor{
    background: #FFFFFF; width: 240px;
    border-radius: 10px;
    padding: 20px 0px 20px 25px;
}

#pilihanKategori{
    margin-bottom: 20px;
}

#vektorPilihan{
    height: 125px;
}