<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs")%>
  <body>
    <div class="container-fluid no-padding">
      <div class="row no-gutters">
        <div class="col-2" style="margin-left: -15px">
          <%- include("../partials/sidebar.ejs")%>
        </div>
        <div class="col-10" style="height: 100vh">
          <h2>Agenda</h2>

          <div id="bulan">
            <h3><span class="bulan"><%= bulan %> </span> <%= tahun %></h3>
            <!-- <a href="/agenda/prev">
              <img src="/assets/img/icon/arrow-left.svg" alt="" />
            </a>
            <a href="/agenda/next">
              <img src="assets/img/icon/arrow-right.svg" alt="" />
            </a> -->
          </div>
          <div class="calendar">
            <ul class="days">
              <% agenda.forEach(element => { %>
              <li>
                <p><%= element.tanggal %></p>
                <% if (element.datalist.namaList != "none") { %>
                <ul id="list-card">
                  <li id="isi-card" class="<%= element.datalist.warnaList %>">
                    <span id="tulisan-card">
                      <%= element.datalist.namaList.substring(0, 15) %>
                    </span>
                  </li>
                </ul>
                <% }else{ %>
                <ul id="list-card">
                  <li id="isi-card">
                    <span id="tulisan-card"> </span>
                  </li>
                </ul>
                <% } %>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>

    <script></script>
  </body>
</html>
